<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\sharp7logger-internal.log"
      internalLogLevel="Info" >


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="target1" fileName="${basedir}/log/sharp7logger.log"
                archiveFileName="${basedir}/archives/log.{#}.zip"
                archiveEvery="Day"
                archiveNumbering="Date"
                maxArchiveFiles="7"
                concurrentWrites="false"
                keepFileOpen="true"
                enableArchiveFileCompression="true" >
        <layout xsi:type="LayoutWithHeaderAndFooter">
          <!-- <header xsi:type="SimpleLayout" text="Log Entry Number&#x9;PLC Timestamp&#x9;Local Timestamp&#x9;SRM Number&#x9;Log Entry Type&#x9;Log Entry Description&#x9;Function Name&#x9;Operation Mode&#x9;Fault Or Warning State&#x9;X Position mm&#x9;X Target mm&#x9;X Speed mm/s&#x9;Y Position mm&#x9;Y Target mm&#x9;Y Speed mm/s&#x9;Z1 Position mm&#x9;Z1 Target mm&#x9;Z1 Speed mm/s&#x9;Z2 Position mm&#x9;Z2 Target mm&#x9;Z2 Speed mm/s&#x9;Session ID" /> -->
          <layout xsi:type="SimpleLayout" text="${message}" />
        </layout>
      </target>
    </target>
    <target xsi:type="Console" name="target2"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="target1" />
    <logger name="*" minlevel="Warn" writeTo="target2" />
  </rules>
</nlog>